* {
	font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}


header {
	text-align: center;
}
	
h2 {
	font-size: 20px;
	text-align: center;
}	

iframe.menu {
    width: 100%;
    border-style: none;
    margin: -10px;
    height: 150px;
}

iframe {
    width: 100%;
    border-style: none;
    height: 30px;
}



label {
	float: left;
	padding: 0px 0px 0px 15px;
	margin-top: 20px;
}



.frame {
	box-align: center;
	margin-top: 25px;
	border: 1px solid #0af;
	box-shadow: 0px 0px 13px #08f;
	border-radius: 30px 0px;
}




.field {
	clear: both;
	text-align: right;
}






.doc_header {
	min-height:45px;
}


ul,fieldset{margin:0;padding:0;}
fieldset
{
    border:0;
}


input{font:99% arial,helvetica,clean,sans-serif;}

