* {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

h2 {
    font-size: 20px;
    text-align: center;
}

iframe.menu {
    width: 100%;
    border-style: none;
    margin: -10px;
    height: 150px;
}

iframe {
    width: 100%;
    border-style: none;
    height: 30px;
}

.frame {
    box-align: center;
    margin-top: 25px;
    border: 1px solid #0af;
    box-shadow: 0px 0px 13px #08f;
    border-radius: 30px 0px;
}

.field {
    clear: both;
    text-align: right;
}

input {
    font: 99% arial, helvetica, clean, sans-serif;
}

.button {
    color: #fff;
    box-shadow: 0px 2px 2px #000;
    border-width: 0px;
    border-radius: 7px;
    text-decoration: none;
    background: linear-gradient(bottom, #05f, #0df);
    background: -o-linear-gradient(bottom, #05f, #0df);
    background: -moz-linear-gradient(bottom, #05f, #0df);
    background: -ms-linear-gradient(bottom, #05f, #0df);
    background: -webkit-linear-gradient(bottom, #05f, #0df);
}

.button:hover {
    background: linear-gradient(bottom, #0054e1, #00bfe1);
    background: -o-linear-gradient(bottom, #0054e1, #00bfe1);
    background: -moz-linear-gradient(bottom, #0054e1, #00bfe1);
    background: -ms-linear-gradient(bottom, #0054e1, #00bfe1);
    background: -webkit-linear-gradient(bottom, #0054e1, #00bfe1);
}

.button:active {
    background: linear-gradient(top, #05f, #0df);
    background: -o-linear-gradient(top, #05f, #0df);
    background: -moz-linear-gradient(top, #05f, #0df);
    background: -ms-linear-gradient(top, #05f, #0df);
    background: -webkit-linear-gradient(top, #05f, #0df);
}

.lab {
    border-style: solid;
    border-width: 1px;
    border-color: #0af;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #0af;
}

.bb {
    padding: 6px 12px 6px 12px;
    margin-top: 15px;
    margin-bottom: 20px;
    clear: both;
    margin-left: 40%;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0px 0px 2px #000;
}
