@import "common.css";
@import "topic.css";

.ptxt
{
    height: 50%;
	font-size: 14px;
}

.htxt
{
    height: 10%;
}

.postbody
{
    height: 250px;
}

form
{
    height: 100%;
}


.infotext
{
    display: inline-block;
}


.notloginfo
{
   text-align: center;
    font-size: 20px;
    margin-top: 15px;
}



.notlogpost
{
    height: 50px;
}