@import "common.css";

.form {
	float: left;
	width: 35%;
	margin-left: 32.5%;
}

.side {
	margin-left: 67.5%;
	margin-top: 105px;
}

.dives {
	padding-top: 1px;
}

.arrow {
	margin-top: 0px;
	font-size: 20pt;
	color: #0af;
	margin-top: 55px;
	margin-left: -18px;
}

.caption {
	position: relative;
	margin-left: 15px;
	background-color: #0af;
	width: 200px;
	height: 150px;
	color: white;
	border-radius: 10px;
	font-family: sans-serif;
	display: table;
}
 
.caption p {
	padding: 5px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}