@import "common.css";

.frame {
    float: left;
    width: 35%;
    margin-left: 32.5%;
}

.side {
    margin-left: 67.6%;
    margin-top: 127px;
    visibility: hidden;
}

.dives {
    padding-top: 1px;
}

.arrow {
    margin-top: 0px;
    font-size: 20pt;
    color: #0af;
    margin-top: 59px;
    margin-left: -18px;
}

.caption {
    position: relative;
    margin-left: 15px;
    background-color: #0af;
    width: 200px;
    height: 150px;
    color: white;
    border-radius: 10px;
    font-family: sans-serif;
    display: table;
}

.caption p {
    padding: 5px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.label {
    float: left;
    padding-left: 25px;
}

.lab {
    padding: 5px 27px 3px 5px;
    font-size: 14pt;
    margin-right: 20px;
    width: 180px;
    float: right;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 189px 6px;
    margin-top: 7px;
}

.passwsign {
    height: 18px;
    width: 18px;
    margin: 8px 8px 8px 0;
    visibility: hidden;
}

