@import "common.css";

.side {
    margin-left: 56%;
}

.bn {
    visibility: hidden;
    position: absolute;
    margin-top: 68px;

}

.bp {
    visibility: hidden;
    position: absolute;
    margin-top: 150px;


}

.bparr {
    margin-top: 27px;
}

.bnarr {
    margin-top: 11px;
}

.arrow {
    font-size: 20pt;
    color: #0af;
    margin-left: -18px;
    width: 20px;
    position: absolute;
}

.caption {
    position: relative;
    margin-left: 15px;
    background-color: #0af;
    width: 200px;
    height: 57px;
    color: white;
    border-radius: 10px;
    font-family: sans-serif;

}

.bps {

    height: 96px;


}


.caption p {

    padding: 0 16px;
    position: relative;
    margin-top: -30px;
    height: 42px;
}
#bnbl
{
    padding-top: 18px;
}

#bnbll
{
    padding-top: 7px;
}

#bpc
{
    padding-top: 7px;
}


.lab {
    padding: 5px 27px 3px 5px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 194px 6px;

}

.passwsign {
    height: 18px;
    width: 18px;
    margin: 8px 8px 8px 0;
    visibility: hidden;
}

.form-horizontal {
    width: 400px;
    margin-left: 530px;
    float: left
}