@import "common.css";

.post
{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0 0 5px #07f;
}

.postbody
{
    border-radius: 0 0 5px 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #0af;
   /* box-shadow: 0 0 5px #0af;*/
    min-height: 130px;
}

.userinfo
{
    height:150px;
    border-radius: 3px;
    border-style: none;
    border-width: 1px;
    text-align: center;
    border-color: gray;
}

.userbox
{
    width: 120px;
    height: 100%;
    float: left;
}

.message
{
    margin-left: 120px;
    padding: 10px;
    border-style: none none none solid;
    border-width: 2px;
    border-color: #0af;
    min-height: 130px;
}

.userinfo img
{
    margin-top: 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 2px;
    border-color: cornflowerblue;
}

.image-info
{
    padding-top: 10px;
}

.link
{
    text-decoration: none;
    font-size: 14px;
    color: #07f;
    font-weight: bold;
}

.postheader
{
    margin-right: 2px;
    margin-left: 2px;
    height: 30px;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(bottom, #05f, #0bf);
    background: -o-linear-gradient(bottom, #05f, #0bf);
    background: -moz-linear-gradient(bottom, #05f, #0bf);
    background: -ms-linear-gradient(bottom, #05f, #0bf);
    background: -webkit-linear-gradient(bottom, #05f, #0bf);
    color: #fff;
}

.bgr
{
    width: 100%;
    height: 30px;
    border-width: 1px;
    border-color: #0af;
    background: linear-gradient(bottom, #05f, #00d7ff);
    background: -o-linear-gradient(bottom, #05f, #00d7ff);
    background: -moz-linear-gradient(bottom, #05f, #00d7ff);
    background: -ms-linear-gradient(bottom, #05f, #00d7ff);
    background: -webkit-linear-gradient(bottom, #05f, #00d7ff);
   /* box-shadow: 0 0 5px #0cf;*/
    border-radius: 4px 4px 0 0;
}

.postheader .postlink
{
    float: right;
    display:inline;
    margin-right: 10px;

}

.postheader .time
{
    display:inline;
    margin-left: 10px;

}

.headertext
{
  padding-top: 7px;
}

