@import "common.css";
@import "topic.css";


.userinfo
{
    height:150px;
    border-radius: 3px;
    border-style: none;
    border-width: 1px;
    text-align: center;
    border-color: gray;
}

.userbox
{
    width: 120px;
    height: 100%;
    float: left;
}

.message
{
    margin-left: 120px;
    padding: 10px;
    border-style: none none none solid;
    border-width: 2px;
    border-color: #0af;
    min-height: 110px;
    word-wrap: break-word;
}

.userinfo img
{
    margin-top: 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 2px;
    border-color: cornflowerblue;
}

.image-info
{
    padding: 5px;
    word-wrap: break-word;
    font-size: 12px;
}

.link
{
    text-decoration: none;
    font-size: 14px;
    color: #07f;
    font-weight: bold;
}



.postheader .postlink
{
    float: right;
    display:inline;
    margin-right: 10px;
}

.postheader .time
{
    display:inline;
    margin-left: 10px;
}


.postbody
{

}


.respond
{
    padding: 3px 6px 3px 6px;
    margin-left: 84.2%;
    font-size: 14px;
    font-weight: bold;
}


.postbar
{
    height: 33px;
    margin-left: 120px;
    border-style: none none none solid;
    border-width: 2px;
    border-color: #0af;

}

.postbar .respond
{
    float: right;
    margin-right: 10px;
}

li
{
display: inline-block;
    text-align: center;


}

ul
{

    float: right;
    margin: 0px 10% 10px 0px;

}

.q
{
    clear: both;
}

.pagelink
{
    display: inline-block;
    min-width: 20px;
    background: linear-gradient(bottom, rgba(0, 85, 255, 0.52), rgba(0, 187, 255, 0.33));
    background: -o-linear-gradient(bottom, rgba(0, 85, 255, 0.52), rgba(0, 187, 255, 0.33));
    background: -moz-linear-gradient(bottom, rgba(0, 85, 255, 0.52), rgba(0, 187, 255, 0.33));
    background: -ms-linear-gradient(bottom, rgba(0, 85, 255, 0.52), rgba(0, 187, 255, 0.33));
    background: -webkit-linear-gradient(bottom, rgba(0, 85, 255, 0.52), rgba(0, 187, 255, 0.33));
    border-radius: 2px;
    padding: 1px;
}

.in
{
    width: 40px;
}
.curpage
{
   background: none;
}

a
{
    text-decoration: none;
}